footer {
    background-color: #f8f8f8;
    font-weight: 200;   
    height: 60px; 
    width: 100%; 
    text-align: center;
    line-height: 60px; 
    position: fixed; 
    padding: 10px;
    bottom: 0;
    border-top: 1px solid #dddddd;
    background-color: #f8f8f8;
}
footer p {
	    margin: 0;
    }
