header {
    background-color: #f8f8f8;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

header #logo {
	margin: 0;
}
